@import url("https://fonts.google.com/specimen/Open+Sans?sidebar.open=true&selection.family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800");
@import url("https://fonts.google.com/specimen/Raleway?sidebar.open=true&selection.family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800|Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&query=rale");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font: 13px "open-sans", sans-serif;
  color: #464646;
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
}

body {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navbar" "hero" "moto" "about";
}

body img {
  width: 100%;
}

body .bg-img {
  background-size: cover;
  background-position: top center;
}

body a {
  text-decoration: none;
}

body li {
  direction: none;
}

body #navbar .navbar {
  z-index: 10;
  position: fixed;
  background-color: transparent;
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  padding: 10px;
}

body #navbar .navbar .bana {
  width: 60px;
}

body #navbar .navbar img {
  filter: grayscale(1);
}

body #hero .hero {
  transition: 3s ease all;
  position: relative;
  z-index: 1;
  grid-area: hero;
  height: 70vh;
  background-image: url("/img/img.jpg");
  top: 0;
  left: 0;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body #hero .hero h2 {
  color: white;
  font-size: 14px;
  margin: 10px;
  padding: 8px 40px;
  background-color: #6EAF8D;
  text-transform: uppercase;
}

body #hero .hero p {
  color: white;
  margin: 6px;
  font-family: "raleway";
  font-size: 30px;
  font-weight: lighter;
  font-style: normal;
}

body #hero .hero p span {
  font-weight: bold;
}

body #hero .hero::after {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: -1;
}

body #hero a img {
  filter: grayscale(1);
}

body .moto {
  transition: 3s ease all;
  padding: 4rem;
  grid-area: moto;
}

body .moto p {
  font-size: 18px;
  text-align: center;
}

body #about .about {
  transition: 3s ease all;
  grid-area: about;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  padding: 6rem 2.5rem;
  background-image: url("/img/img4.jpg");
  z-index: 1;
  color: white;
}

body #about .about h1 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 1.5rem;
}

body #about .about h1::after {
  left: 0;
  bottom: 0;
  content: " ";
  position: absolute;
  height: 0.05rem;
  width: 6rem;
  background-color: white;
}

body #about .about::after {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: -1;
}

body #why-us .why-us {
  transition: 3s ease all;
  padding: 4rem;
}

body #why-us .why-us .why-text {
  background-color: #6EAF8D;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: "raleway,sans-sarif";
  font-weight: 100;
}

body #why-us .why-us .why-text h1 {
  padding: 2rem;
  border: 1px solid white;
}

body #services .services {
  transition: 3s ease all;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/img/img7.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  text-align: center;
}

body #services .services h3 {
  text-transform: uppercase;
}

body #services .services .icon {
  font-size: 4rem;
  height: 100%;
  width: 100%;
}

body #services .services .service-item {
  color: white;
  gap: 20px;
  padding: 2rem;
  line-height: 30px;
  --color: white;
  transition: 3s all;
}

body #services .services .service-item .fa {
  color: var(--color);
  width: 50px;
}

body #services .services .service-item:hover {
  --color: #6eaf8d;
}

body #services .services:after {
  top: 0;
  left: 0;
  content: " ";
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  z-index: -1;
}

body #contact .contact {
  min-height: 100vh;
}

body #contact .contact .first-line {
  background-color: #6EAF8D;
  height: 20px;
}

body #contact .contact .col-1 {
  padding: 0 4rem 4rem 4rem;
}

body #contact .contact .col-1 .contact-items {
  background-color: #6B7E91;
  min-height: 60vw;
}
