@import "config.scss";
@import "util.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  font: 13px "open-sans", sans-serif;
  color: #464646;
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
}
body {
  background-color: $background-color;
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: auto;
  grid-template-areas:
    "navbar"
    "hero"
    "moto"
    "about"
    "why-us"
    "services"
    "contact"
    "footer";
  img {
    width: 100%;
  }
  .bg-img {
    background-size: cover;
    background-position: top center;
  }

  a {
    text-decoration: none;
  }
  li {
    direction: none;
  }
  #navbar {
    grid-area: navbar;
    .navbar {
      z-index: 10;
      position: fixed;
      background-color: $shade-color;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: space-between;
      width: 100%;
      padding: 10px;
      .bana {
        width: 60px;
      }
      img {
        filter: grayscale(1);
      }
    }
  }
  #hero {
    grid-area: hero;
    .hero {
      transition: 3s ease all;
      position: relative;
      z-index: 1;
      height: 70vh;
      background-image: url("/img/img.jpg");
      top: 0;
      left: 0;
      background-color: $shade-color;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: white;
        font-size: 14px;
        margin: 10px;
        padding: 8px 40px;
        background-color: $primary-color;
        text-transform: uppercase;
      }
      p {
        color: white;
        margin: 6px;
        font-family: "raleway";
        font-size: 30px;
        font-weight: lighter;
        font-style: normal;
        span {
          font-weight: bold;
        }
      }
    }
    .hero::after {
      top: 0;
      left: 0;
      position: absolute;
      content: "";
      background-color: $shade-color;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.9;
    }
    a {
      img {
        filter: grayscale(1);
      }
    }
  }
  .moto {
    transition: 3s ease all;

    padding: 4rem;

    grid-area: moto;
    p {
      font-size: 18px;
      text-align: center;
    }
  }
  #about {
    grid-area: about;
    .about {
      transition: 3s ease;

      display: flex;
      flex-direction: column;
      gap: 3rem;
      position: relative;
      padding: 6rem 2.5rem;
      background-image: url("/img/img4.jpg");
      z-index: 1;
      color: white;
      h1 {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 1.5rem;
      }
      h1::after {
        left: 0;
        bottom: 0;
        // margin-top: 10px;
        content: " ";
        position: absolute;
        height: 0.05rem;
        width: 6rem;
        background-color: white;
      }
    }
    .about::after {
      top: 0;
      left: 0;
      position: absolute;
      content: "";
      background-color: $shade-color;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.9;
    }
  }
  #why-us {
    grid-area: why-us;

    .why-us {
      transition: 3s ease all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem;
      height: 100%;
      .why-text {
        background-color: $primary-color;
        padding: 2rem;
        text-align: center;
        color: white;
        font-family: "raleway,sans-sarif";
        font-weight: 100;
        h1 {
          padding: 2rem;

          border: 1px solid white;
        }
      }
    }
  }
  #services {
    grid-area: services;

    .services {
      transition: 3s ease all;
      padding: 6rem 2rem;
      display: grid;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: url("/img/img7.jpg");
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 1;
      text-align: center;
      h3 {
        text-transform: uppercase;
      }
      .icon {
        font-size: 4rem;
        height: 100%;
        width: 100%;
      }
      .service-item {
        color: white;

        gap: 20px;
        padding: 2rem;
        line-height: 30px;
        --color: white;
        transition: 3s all;
        .fa {
          color: var(--color);
          width: 50px;
        }
      }
      .service-item:hover {
        --color: #6eaf8d;
      }
      &:after {
        top: 0;
        right: 0;
        content: " ";
        background-color: $shade-color;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        position: absolute;
        z-index: -1;
      }
    }
  }
  #contact {
    grid-area: contact;

    .contact {
      min-height: 100vh;
      .first-line {
        background-color: $primary-color;
        height: 20px;
      }
      .col-1 {
        padding: 0 4rem 4rem 4rem;
        .contact-items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          background-color: $shade-color;
          min-height: 60vh;
          padding: 4rem;
          gap: 2rem;
          text-align: center;
          color: white;
          h2 {
            text-transform: uppercase;
            padding: 6px;
          }
        }
      }
    }
  }
}
#footer {
  grid-area: footer;
  .footer {
    min-height: 30vh;
    background-color: $shade-color;
    position: relative;
    color: white;
    .fly-top {
      text-align: center;
      color: white;
      padding: 4px;
      height: 50px;
      width: 30px;
      background-color: darken($color: $shade-color, $amount: 4);
      position: absolute;
      top: -25px;
      left: calc(50vw - 30px);
      z-index: 100;
      a {
        color: white;
      }
    }
    .footer-items {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      .social-icons {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        align-content: space-evenly;
        font-size: 30px;
        span {
          display: inline-block;
        }
      }
    }
  }
}
// media query for tablet
@media only screen and (min-width: 600px) {
  $p-size: 20px;
  .about {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: $p-size;
    }
  }
  .why-us {
    font-size: large;
  }
}
// end media query for tablet

// media query for pc
@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar"
      "hero hero"
      "moto moto"
      "about why-us"
      "services services"
      "contact contact"
      "footer footer";
  }

  #about {
    .about {
      background-color: red;

      // background-image: none !important;

      p {
        font-size: 13px;
      }
    }
  }
  .services {
    grid-template-columns: repeat(2, 1fr);
    // position: relative;
    p{
      font-size: medium;
    }
    .service-item {
      &:nth-child(odd) {
        color: black !important;
        .fa{color: black !important;}
      }
    }
  }
  .services::after {
    top: 0;
    content: " ";
    background-color: white;
    width: 50% !important;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
  }
  .services::before {
    top: 0;
    content: " ";
    background-color: white;
    width: 50% !important;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
  }
}
// end media query for pc
